.signinWrapper{
    display: flex;
    justify-content: center;
}
.signinCard{
    width:30vw;
    margin-top: 10%;
}
.insta-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.insta-logo img{
    width: 15vw;
    margin-top: 2%;
    
}

@media screen and(max-width:60px) {
    .signupCard{
        width: 60%;
    }
    .insta-logo img{
        width: 35%;
    }

}
.imgcar{
    height:590px;
    width: 400px;
    margin-top: 8vh;
    position: relative;
}
.car{
    height: 380px;
    width: 247px;
    position: absolute;
    left: 125px;
    top:61px;
}
